/* RESETS */
* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #ebedea;
}

img {
    max-width: 100%;
}

a {
    color: #444444;
    text-decoration: none;
}

/* ANIMATION */
@keyframes slide-in {
    from {
        left: -50px;
    }

    to {
        left: 0;
    }
}

/* CUSTOM STYLES */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f0ead6;
    padding: 8px 3%;
    margin-bottom: 45px;
    color: #444444;
}

header .name {
    font-size: 200%;
}

header nav a {
    position: relative;
    font-size: 100%;
}

header nav a:after {
    content: " ";
    width: 100%;
    height: 1px;
    background-color: none;
    border-radius: 2px;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    transition: all 0.5s;
}

header nav a:hover:after {
    width: 100%;
    background-color: #444444;
}

header nav a:not(:last-child) {
    margin-right: 16px;
}

/* STYLES FOR HERO SECTION */

section.hero-section {
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

section.hero-section .headshot {
    max-width: 20%;
    margin: 0 25px 35px 0;
    border-radius: 105px;
    overflow: hidden;
}

section.hero-section .headshot-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
}

section.hero-section .headshot-text h2 {
    margin-bottom: 10px;
}

/* STYLES FOR MAIN SECTION */

main {
    padding: 0 3%;
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 30px;
}


.project-1-wrapper {
    max-width: 40%;
}

.project-1-wrapper a {
    max-width: 4%;
}

.project-1-wrapper h2 {
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 3%;
}