/* RESETS */
* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #ebedea;
}

img {
    max-width: 100%;
}

a {
    color: #444444;
    text-decoration: none;
}

/* ANIMATION */
@keyframes slide-in {
    from {
        left: -50px;
    }

    to {
        left: 0;
    }
}

/* CUSTOM STYLES */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f0ead6;
    padding: 8px 3%;
    margin-bottom: 35px;
    color: #444444;
}

header .name {
    font-size: 200%;
}

header nav a {
    position: relative;
    font-size: 100%;
}

header nav a:after {
    content: " ";
    width: 100%;
    height: 1px;
    background-color: none;
    border-radius: 2px;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    transition: all 0.5s;
}

header nav a:hover:after {
    width: 100%;
    background-color: #444444;
}

header nav a:not(:last-child) {
    margin-right: 16px;
}

/* STYLES FOR HERO SECTION */

section.hero-section {
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

section.hero-section .headshot {
    max-width: 20%;
    margin: 0 25px 35px 0;
    border-radius: 105px;
    overflow: hidden;
}

section.hero-section .headshot-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
}

section.hero-section .headshot-text h2 {
    margin-bottom: 10px;
}

/* STYLES FOR MAIN SECTIONS */

main {
    padding: 0 3%;
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 110px;
}

/* ABOUT ME STYLES */

.about-me-wrapper {
    display: flex;
    text-align: center;
}

.about-me-wrapper p {
    font-weight: bold;
    font-size: 20px;
}

/* MY WORK STYLES*/
.work-container {
    display: flex;
    margin: 0 15px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-1-wrapper {
    max-width: 100%;
    align-self: center;
}

.project-1-wrapper a {
    max-width: 60%;
}

.project-1-wrapper h2 {
    text-align: center;
    margin-bottom: 35px;
}

.placeholder-1-wrapper {
    max-width: 30%;
}

.placeholder-1-wrapper h2 {
    text-align: center;
}

.placeholder-2-wrapper {
    max-width: 38%;
}

.placeholder-2-wrapper h2 {
    text-align: center;
}

/* CONTACT ME STYLES */
.contact-me-wrapper {
    display: flex;
    justify-content: space-evenly
}

.contact-me-wrapper p {
    font-weight: bolder;
}

section .github-link:hover {
    color: #000000;
}

/* FOOTER STYLE */

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 3%;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
    header {
        font-size: 15px;
    }

    section.hero-section {
        flex-direction: column;
        align-items: center;
    }

    section.hero-section .headshot {
        max-width: 40%;
        margin-right: 0;
    }

    section.hero-section .headshot-text p {
        margin-bottom: 15px;
    }
    
    .project-1-wrapper h2{
        font-size: 20px;
    }

    .placeholder-1-wrapper h2{
        font-size: 20px;
    }

    .placeholder-2-wrapper h2{
        font-size: 20px;
    }

    .about-me-wrapper p {
        font-size: 20px;
    }

    .contact-me-wrapper p {
        font-size: 18px;
    }

}
